//Navigation
= render partial: "/pages/navigation"
//Homepage
= render partial: "/pages/homepage"
//Countdown
= render partial: "/pages/countbox"
//Our Story
= render partial: "/pages/ourstory"
//Wedding Info
= render partial: "/pages/weddinginfo"
//Bridal Crew
= render partial: "/pages/bridalcrew"
//Registry
= render partial: "/pages/registry"
